<p>{{quote.author}}</p>
<p> {{quote.quote}} </p>
<p>Posted by ~{{quote.submitter}} </p>
<p>Posted {{quote.datePost|dateCount}} days ago.</p>

<span>
     <button class="btn bg-light m-1" (click) = 'voteUp()'> {{upVote}} <i class="fa fa-thumbs-up pl-3 pr-3"></i></button>
     <button (click) = 'voteDown()' class="btn bg-light m-1" > {{downVote}}<i class="fa fa-thumbs-down pl-3 pr-3"></i></button> 
</span> 

<br>

<button class="btn btn-outline-danger mt-4"  (click) = 'quoteDelete(true)'><i class="fa fa-trash"></i></button>