<div class="container-fluid">
    <h4>Create a new quote...</h4>

    <form ngSubmit="submitQuote" #quoteForm='ngForm' class="form-group card-body ">
        <input type="text" placeholder="author" class="form-control m-2" name="author" [(ngModel)]="newQuote.author" #author='ngModel' required>

        <input type="text" placeholder="submitted by" class="form-control m-2" name="submitter" [(ngModel)]="newQuote.submitter" #submitter='ngModel' required>

        <textarea name="quote" class="form-control m-2" placeholder="write your quote..." id="" cols="30" rows="10" [(ngModel)]="newQuote.quote" #quote='ngModel' required></textarea>

        <input type="date" class="form-control m-2" name="datePost" [(ngModel)]="newQuote.datePost" #datePost='ngModel' required>

        <button type="submit" class="btn bg-light m-2"><i class="fa fa-telegram"></i></button>
    </form>
</div>